

html {
	font-size: 0.625em;  

}

html, body { 
	height:100%;

}

body {
	font-size: 1.6rem;
  font-family: "Verdana", sans-serif;
  min-width: 30rem;

}

strong {
  font-weight:600;
}

/********* 
  Top panel
  *******/

#toppanel {
  margin: 0 5%;
  padding-top:1rem;
  min-height: 6.5rem;

}

/******************
	Google Maps CSS
	*****************/

#map {
	height: 60%; 
	width: 100%;
}

.controls {
  float:left;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 3.2rem;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#origin-input,
#destination-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 1.5rem;
  font-weight: 300;
  margin-left: 1.2rem;
  padding: 0 1.1rem 0 1.3rem;
  text-overflow: ellipsis;
  width: 20rem;
}

#origin-input:focus,
#destination-input:focus {
  border-color: #4d90fe;
}

#mode-selector {
  width:25rem;
  color: #fff;
  background-color: #4d90fe;
  margin-left: 1.2rem;
  margin-right:4rem;
  padding: 0.5rem 1.1rem 0 1.1rem;
}

#mode-selector label {
  font-family: Roboto;
  font-size: 1.3rem;
  font-weight: 300;
}



/****************
  Styles
  ***************/

/* showcontrols change route button */
#showcontrols {
  margin-right:3rem;
  margin-left:1rem;
}

#showcontrols:hover {
  border-color:#4d90fe;
}

#showcontrols:active {
  background-color:#eee;
}

/* Route text placeholder */
#routeplaceholder p {
  float:left;
  font-size: 1.6rem;
  font-family: Roboto;
  line-height:1.9rem;
  max-width:50rem;
  margin-top:0.8rem;
  margin-bottom:1rem;
}


/* Save time menu */

#time-minutes, #time-hours {
  width: 3.2rem;
  margin-left:1.2rem;
}

#time-controls {
  float:left;
  margin-left: 1rem;
  height:5rem;
  width:24rem;
  margin-right:3rem;
  margin-bottom:0.2rem;
}

#time-minutes:focus, #time-hours:focus {
   border-color: #4d90fe;
}

#time-controls div{
  font-size:1.4rem;
  margin-top: 1.8rem;
  margin-left:0.5rem;
  float:left;
}

#savebtn {
  margin-left: 1.2rem;

}

#savebtn:hover {
  border-color:#4d90fe;
}

#savebtn:active {
  background-color:#eee;
}

/* Duration */

#duration {
  float:left;
  width: 18rem;
  padding: 0.7rem 1rem;
  border-left: 1px solid #4d90fe;
  margin: 1rem 0 1rem 1.2rem;
  margin-top: 1rem;
  height: 1.6rem;
  font-weight: 300;
  font-family: Roboto;
  color: #AAA;
}

/* Error messages */
#errormessages {
  margin:1.2rem 0 2rem 1rem;
  font-size:1.4rem;
  color:red;
  font-family: "Courier New";
  float:left;
  max-width:30rem; 
}


/*********************
  Graph div 
  ********************/

#graph {
  height:25rem;
  width:90%;
  margin: 2rem 5% 2rem 5%;
}

/* Save image button */
#saveimagebtn {
  margin:0 0 6rem 10%;
  float:left;
}

#saveimagebtn:hover {
  border-color:#4d90fe;
}

#saveimagebtn:active {
  background-color:#eee;
}

/**********
  images div
*********/

#images, #savedimages {
  
}

#images img, #savedimages img {

  width:44%;
  margin-left:5%;
  margin-right:1%;
  margin-bottom:4rem;
}


/** saved images */
h2 {
  clear:left;
  font-size:2rem;
  font-weight:600;
  margin-bottom:2rem;
  margin-top:4rem;
  margin-left:5%;
}



/***********
  responsive
*********/

@media only screen and (min-width:830px) {
  #graph{
    width:70rem;
    height:40rem;
  }
}